.portfolio-section {
  margin-top: 4rem;
}

.project {
  font-size: var(--text-base);
  margin-top: 4rem;
}

h1 + .project {
  margin-top: 1rem;
}

.project-des + div {
  margin-top: .25em;
}

.project-image {
  max-width: min(400px, 100%);
  max-height: 50vh;
  overflow: hidden;
  border: 1px solid rgba(0, 0, 0, .1);
  background-color: rgba(0, 0, 0, .1);
}

.project-image > img {
  margin-top: unset;
}

.project-name {
  font-size: var(--text-xl);
  font-weight: bold;
  margin-top: .25em;
}

.project-link {
  color: rgba(0, 0, 0, .64);
}